@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  background-color: #2563eb; /* Tailwind bg-blue-600 */
  color: #fff; /* Tailwind text-white */
  padding-left: 1rem; /* Tailwind px-4 */
  padding-right: 1rem;
  padding-top: 0.5rem; /* Tailwind py-2 */
  padding-bottom: 0.5rem;
  border-radius: 0.5rem; /* Tailwind rounded-lg */
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms; /* Tailwind transition-colors */
  cursor: pointer;
}
.button:hover {
  background-color: #1d4ed8; /* Tailwind hover:bg-blue-700 */
}
button {
  cursor: pointer;
}
